# plantilla para variables de entorno
DEBUG=False
SECRET_KEY=poner_aqui_una_clave_secreta_segura_y_larga
ALLOWED_HOSTS=*.onrender.com,localhost,127.0.0.1

# URL de conexión de la base de datos (PostgreSQL en producción)
DATABASE_URL=postgres://usuario:contraseña@host:puerto/nombre_base_datos
